<h2>Constraints</h2>
<p>
    <b>Organisation:</b> {{ policy.organisation }}
</p>
<p>
    <b>Purpose:</b> {{ policy.purpose }}
</p>
<p>
    <b>Other Permissions:</b>
</p>
<div class="permissions-div">
    <mat-chip *ngIf="policy.sellingData===false" color="primary">
        Not permitted to selling the data to other third parties.</mat-chip>
    <mat-chip *ngIf="policy.sellingData===true" color="warn">
        Permitted to selling the data to other third parties.</mat-chip>
    <mat-chip *ngIf="policy.sellingInsights===false" color="primary">Not
        permitted to selling insights from the shared data.</mat-chip>
    <mat-chip *ngIf="policy.sellingInsights===true" color="warn">Permitted
        to selling insights from the shared data.</mat-chip>
</div>
<p>
    <b>Ends on:</b> {{ policy.untilTimeDuration | date:'dd/MM/yyyy hh:mma'}}
</p>
<p>
    <b>Justification for duration:</b> {{ policy.durationJustification }}
</p>
<p><b>Technical and Organisational Measures</b></p>
<mat-chip-set aria-label="Measures selection">
    <mat-chip *ngFor="let measure of policy.techOrgMeasures">{{measure}}</mat-chip>
</mat-chip-set>
<p><b>Recipients</b></p>
<mat-chip-set aria-label="Recipients selection">
    <mat-chip *ngFor="let recipient of policy.recipients">{{recipient}}</mat-chip>
</mat-chip-set>
<p>
    <b>Justification for recipients:</b> {{ policy.recipientsJustification }}
</p>
<p>
    <b>Jurisdiction:</b> {{ policy.jurisdiction }}
</p>
<div *ngIf="policy.thirdCountry.length > 0">
    <mat-chip-set aria-label="Third Country Selection">
        <mat-chip *ngFor="let country of policy.thirdCountry">{{country}}</mat-chip>
    </mat-chip-set>
    <p>
        <b>Justification for third country:</b> {{ policy.thirdCountryJustification }}
    </p>
</div>