<div class="content">
    <h1 class="page-header">Member Dashboard</h1>
    <mat-grid-list cols="2">
        <mat-grid-tile colspan="1">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Active Deliberations</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <button mat-stroked-button class="button-list" color="primary"
                        *ngFor="let project of activeProjects">{{project.title}}</button>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Activities</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>View and edit your profile</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="/member/profile">View Profile</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>