.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.page-header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-card {
    width: 90%;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
}