<mat-grid-list cols="1" rowHeight="5em">
    <mat-grid-tile rowspan="1">
        <h1 (click)="navigateToHomePage()">Data Consensus</h1>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
        <h2 (click)="navigateToHomePage()">A Collaborative Data Governance Platform</h2>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
        <mat-form-field [style.width.px]=327>
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="name" required>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
        <mat-form-field [style.width.px]=327>
            <mat-label>Email</mat-label>
            <input matInput type="text" [(ngModel)]="email" required>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
        <mat-form-field [style.width.px]=327>
            <mat-label>Data Source</mat-label>
            <input matInput type="text" [(ngModel)]="dataSource" required>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field [style.width.px]=327>
            <mat-label>Solid Input Provider</mat-label>
            <input matInput type="text" [(ngModel)]="loginInput" required>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
        <button mat-raised-button color="primary" (click)="submitForm()">Confirm</button>
    </mat-grid-tile>
</mat-grid-list>