<div class="page-container">
    <menu></menu>
    <div class=" policy-container">
        <mat-card class="custom-card">
            <h2>{{title}} Agreement</h2>
            <p>PolicyID: {{ policyID }}</p>
            <table style="width: 100%;">
                <tr>
                    <td>Description</td>
                    <td>{{ description }}</td>
                </tr>
                <tr>
                    <td>Third Party</td>
                    <td>{{ assignee }}</td>
                </tr>
                <tr>
                    <td>Organisation</td>
                    <td>{{ organisation }}</td>
                </tr>
                <tr>
                    <td>Until Time Duration</td>
                    <td>{{ untilTimeDuration }}</td>
                </tr>
                <tr>
                    <td>Purpose</td>
                    <td>{{ purpose }}</td>
                </tr>

                <tr>
                    <td>Selling Data</td>
                    <td>{{ sellingData }}</td>
                </tr>
                <tr>
                    <td>Selling Insights</td>
                    <td>{{ sellingInsights }}</td>
                </tr>
                <tr>
                    <td>Tech Org Measures</td>
                    <td>{{ techOrgMeasures }}</td>
                </tr>
                <tr>
                    <td>Recipients</td>
                    <td>{{ recipients }}</td>
                </tr>
                <tr>
                    <td>Created at</td>
                    <td>{{ policyCreationTime }}</td>
                </tr>
                <tr>
                    <td>Admin approved by</td>
                    <td>{{ creator }}</td>
                </tr>
                <tr>
                    <td>Project</td>
                    <td>{{ isPartOf }}</td>
                </tr>
                <tr>
                    <td>Based Off Of</td>
                    <td>{{ references }}</td>
                </tr>
            </table>
        </mat-card>
    </div>
</div>