<div class="toolbar-container">
    <mat-toolbar color="primary">
        <span (click)="navigateToHomePage()" class="gap">DATA CONSENSUS</span>
        <button mat-button (click)="navigateToHomePage()">Home</button>
        <button mat-button (click)="navigateToAgreementsPage()">Agreements</button>
        <button mat-button (click)="navigateToProfilePage()">Profile</button>
        <span class="filler"></span>
        <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
</div>