<div class="content">
    <div class="card-container">
        <mat-drawer-container class="example-container">
            <mat-drawer mode="side" opened>
                <mat-button-toggle-group class="sidebar" name="tab" [(ngModel)]="tab" aria-label="Font Style">
                    <mat-button-toggle class="sidebar-panel" value="overview">Overview</mat-button-toggle>
                    <mat-button-toggle class="sidebar-panel" value="request">Request</mat-button-toggle>
                    <mat-button-toggle *ngIf="project.projectPolicies.offers.length > 0" class="sidebar-panel"
                        value="offer">Offers</mat-button-toggle>
                    <mat-button-toggle *ngIf="project.hasAgreement===true" class="sidebar-panel"
                        value="agreement">Agreement</mat-button-toggle>
                </mat-button-toggle-group>
            </mat-drawer>
            <mat-drawer-content *ngIf="tab === 'overview'">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ project.title }}</mat-card-title>
                        <mat-card-subtitle>Overview</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            <b>Description:</b> {{ project.description }}
                        </p>
                        <p>
                            <b>Third Party Requester:</b> {{ project.creator }}
                        </p>
                        <p>
                            <b>Organisation type:</b> {{ project.organisation }}
                        </p>
                        <p>
                            <b>Creation date:</b> {{ project.projectCreationTime }}
                        </p>
                        <p>
                            <b>Passing threshold:</b> {{ project.threshold }}
                        </p>
                        <b>Project Status:</b>
                        <mat-chip *ngIf="project.projectStatus==='Pending'" style="background-color:darksalmon">{{
                            project.projectStatus}}</mat-chip>
                        <mat-chip *ngIf="project.projectStatus==='Completed'" style="background-color:palegreen">{{
                            project.projectStatus}}</mat-chip>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="navigateToSubmitOffer()">Submit Counter Offer</button>
                    </mat-card-actions>
                </mat-card>
            </mat-drawer-content>
            <mat-drawer-content *ngIf="tab === 'request'">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ project.title }}</mat-card-title>
                        <mat-card-subtitle>Request</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            <b>Project description:</b> {{ project.description }}
                        </p>
                        <p>
                            <b>Project creator:</b> {{ project.creator }}
                        </p>
                        <p>
                            <b>Creation date:</b> {{ request.policyCreationTime }}
                        </p>
                        <div class="status-bar">
                            <b style="margin-left:50px">Member Status:</b>
                            <mat-chip *ngIf="request.memberApproved==='Rejected'" style="background-color:darksalmon">{{
                                request.memberApproved}}</mat-chip>
                            <mat-chip *ngIf="request.memberApproved==='Approved'" style="background-color:palegreen">{{
                                request.memberApproved}}</mat-chip>
                            <mat-chip *ngIf="request.memberApproved==='Pending'"
                                style="background-color:lightskyblue">{{
                                request.memberApproved}}</mat-chip>
                            <b>Third Party Status:</b>
                            <mat-chip *ngIf="request.thirdPartyApproved==='Rejected'"
                                style="background-color:darksalmon">{{
                                request.thirdPartyApproved}}</mat-chip>
                            <mat-chip *ngIf="request.thirdPartyApproved==='Approved'"
                                style="background-color:palegreen">{{
                                request.thirdPartyApproved}}</mat-chip>
                            <mat-chip *ngIf="request.thirdPartyApproved==='Pending'"
                                style="background-color:lightskyblue">{{
                                request.thirdPartyApproved}}</mat-chip>
                            <b>Admin Status:</b>
                            <mat-chip *ngIf="request.adminApproved==='Rejected'" style="background-color:darksalmon">{{
                                request.adminApproved}}</mat-chip>
                            <mat-chip *ngIf="request.adminApproved==='Approved'" style="background-color:palegreen">{{
                                request.adminApproved}}</mat-chip>
                            <mat-chip *ngIf="request.adminApproved==='Pending'" style="background-color:lightskyblue">{{
                                request.adminApproved}}</mat-chip>
                            <mat-chip *ngIf="request.adminApproved==='Blocked'" style="background-color:plum">{{
                                request.adminApproved}}</mat-chip>
                        </div>
                        <h3 class="instructions">Do you approve of this request?</h3>
                        <mat-button-toggle-group class="voting-div">
                            <mat-button-toggle class="upvote-button" mat-icon-button matTooltip="Upvote"
                                (click)="upvote()" [checked]="upvoteState" aria-label="Upvote">
                                <mat-icon>thumb_up</mat-icon>
                            </mat-button-toggle>
                            <span class="gap"></span>
                            <mat-button-toggle class="downvote-button" color="primary" mat-icon-button
                                (click)="downvote()" matTooltip="Downvote" [checked]="downvoteState"
                                aria-label="Downvote">
                                <mat-icon>thumb_down</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                        <mat-divider></mat-divider>
                        <h2>Constraints</h2>
                        <p>
                            <b>Organisation:</b> {{ request.organisation }}
                        </p>
                        <p>
                            <b>Purpose:</b> {{ request.purpose }}
                        </p>
                        <p>
                            <b>Other Permissions:</b>
                        </p>
                        <div class="permissions-div">
                            <mat-chip *ngIf="request.sellingData===false" color="primary">
                                Not perrmitted to selling the data to other third parties.</mat-chip>
                            <mat-chip *ngIf="request.sellingData===true" color="warn">
                                Perrmitted to selling the data to other third parties.</mat-chip>
                            <mat-chip *ngIf="request.sellingInsights===false" color="primary">Not
                                perrmitted to selling insights from the shared data.</mat-chip>
                            <mat-chip *ngIf="request.sellingInsights===true" color="warn">Perrmitted
                                to selling insights from the shared data.</mat-chip>
                        </div>
                        <p>
                            <b>Ends on:</b> {{ request.untilTimeDuration }}
                        </p>
                        <p><b>Technical and Organisational Measures</b></p>
                        <mat-chip-set aria-label="Measures selection">
                            <mat-chip *ngFor="let measure of request.techOrgMeasures">{{measure}}</mat-chip>
                        </mat-chip-set>
                        <p><b>Recipients</b></p>
                        <mat-chip-set aria-label="Recipients selection">
                            <mat-chip *ngFor="let recipient of request.recipients">{{recipient}}</mat-chip>
                        </mat-chip-set>
                        <mat-divider></mat-divider>
                        <h2>Comments</h2>
                        <comments [policyURL]="request.uid"></comments>
                    </mat-card-content>
                </mat-card>
            </mat-drawer-content>
            <mat-drawer-content *ngIf="tab === 'offer'">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ project.title }}</mat-card-title>
                        <mat-card-subtitle>Offers</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h3> Rank the offers: </h3>
                        <div class="preferences-div">
                            <div cdkDropList class="rank-list" (cdkDropListDropped)="onDrop($event)">
                                <div class="rank-chip" *ngFor="let item of offerRanking" cdkDrag>{{ item.id
                                    }}</div>
                            </div>
                        </div>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" (click)="submitRanking()">Submit Ranking</button>
                        </mat-card-actions>
                    </mat-card-content>
                </mat-card>
                <mat-tab-group>
                    <mat-tab *ngFor="let offer of offers" [label]="offer.id">
                        <mat-card>
                            <mat-card-content>
                                <p>
                                    <b>Proposer:</b> {{ offer.creator }}
                                </p>
                                <p>
                                    <b>Organisation:</b> {{ offer.organisation }}
                                </p>
                                <p>
                                    <b>Purpose:</b> {{ offer.purpose }}
                                </p>
                                <p>
                                    <b>Other Permissions:</b>
                                </p>
                                <mat-chip *ngIf="offer.sellingData===false" color="primary">
                                    Not perrmitted to selling the data to other third parties.</mat-chip>
                                <mat-chip *ngIf="offer.sellingData===true" color="warn">
                                    Perrmitted to selling the data to other third parties.</mat-chip>
                                <mat-chip *ngIf="offer.sellingInsights===false" color="primary">Not
                                    perrmitted to
                                    selling insights from the shared data.</mat-chip>
                                <mat-chip *ngIf="offer.sellingInsights===true" color="warn">Perrmitted to
                                    selling insights from the shared data.</mat-chip>
                                <p>
                                    <b>Ends on:</b> {{ offer.untilTimeDuration }}
                                </p>
                                <p><b>Technical and Organisational Measures</b></p>
                                <mat-chip-set aria-label="Measures selection">
                                    <mat-chip *ngFor="let measure of offer.techOrgMeasures">{{measure}}</mat-chip>
                                </mat-chip-set>
                                <p><b>Recipients</b></p>
                                <mat-chip-set aria-label="Recipients selection">
                                    <mat-chip *ngFor="let recipient of offer.recipients">{{recipient}}</mat-chip>
                                </mat-chip-set>
                                <mat-divider></mat-divider>
                                <h2>Comments</h2>
                                <comments [policyURL]="offer.uid"></comments>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
            </mat-drawer-content>
            <mat-drawer-content *ngIf="tab === 'agreement'">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ agreement.title }}</mat-card-title>
                        <mat-card-subtitle>Agreement</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            <b>Project description:</b> {{ agreement.description }}
                        </p>
                        <p>
                            <b>Project creator:</b> {{ agreement.creator }}
                        </p>
                        <p>
                            <b>Creation date:</b> {{ agreement.policyCreationTime }}
                        </p>
                        <mat-divider></mat-divider>
                        <h2>Constraints</h2>
                        <p>
                            <b>Organisation:</b> {{ agreement.organisation }}
                        </p>
                        <p>
                            <b>Purpose:</b> {{ agreement.purpose }}
                        </p>
                        <p>
                            <b>Other Permissions:</b>
                        </p>
                        <div class="permissions-div">
                            <mat-chip *ngIf="agreement.sellingData===false" color="primary">
                                Not perrmitted to selling the data to other third parties.</mat-chip>
                            <mat-chip *ngIf="agreement.sellingData===true" color="warn">
                                Perrmitted to selling the data to other third parties.</mat-chip>
                            <mat-chip *ngIf="agreement.sellingInsights===false" color="primary">Not
                                perrmitted to selling insights from the shared data.</mat-chip>
                            <mat-chip *ngIf="agreement.sellingInsights===true" color="warn">Perrmitted
                                to selling insights from the shared data.</mat-chip>
                        </div>
                        <p>
                            <b>Ends on:</b> {{ agreement.untilTimeDuration }}
                        </p>
                        <p><b>Technical and Organisational Measures</b></p>
                        <mat-chip-set aria-label="Measures selection">
                            <mat-chip *ngFor="let measure of agreement.techOrgMeasures">{{measure}}</mat-chip>
                        </mat-chip-set>
                        <p><b>Recipients</b></p>
                        <mat-chip-set aria-label="Recipients selection">
                            <mat-chip *ngFor="let recipient of agreement.recipients">{{recipient}}</mat-chip>
                        </mat-chip-set>

                        <mat-divider></mat-divider>
                        <h2>Comments</h2>
                        <comments [policyURL]="agreement.uid"></comments>
                    </mat-card-content>
                </mat-card>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>