<div class="content">
    <div class="card-container">
        <mat-drawer-container>
            <mat-drawer mode="side" opened>
                <mat-button-toggle-group class="sidebar" name="tab" [(ngModel)]="tab" aria-label="Font Style">
                    <mat-button-toggle class="sidebar-panel" value="overview">Overview</mat-button-toggle>
                    <mat-button-toggle *ngIf="requestID!==''" class="sidebar-panel"
                        value="request">Request</mat-button-toggle>
                    <mat-button-toggle *ngIf="offers.length>0" class="sidebar-panel"
                        value="offer">Offers</mat-button-toggle>
                    <mat-button-toggle *ngIf="project.hasAgreement===true" class="sidebar-panel"
                        value="agreement">Agreement</mat-button-toggle>
                </mat-button-toggle-group>
            </mat-drawer>
            <!-- OVERVIEW -->
            <mat-drawer-content *ngIf="tab === 'overview'">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ project.title }}</mat-card-title>
                        <mat-card-subtitle>Overview</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            <b>Description:</b> {{ project.description }}
                        </p>
                        <p>
                            <b>Third Party Requester:</b> <button mat-button
                                (click)="navigateToProfile(project.creator)">{{ project.creator }}</button>
                        </p>
                        <p>
                            <b>Organisation type:</b> {{ project.organisation }}
                        </p>
                        <p>
                            <b>Creation date:</b> {{ project.projectCreationTime | date:'dd/MM/yyyy
                            hh:mma'}}
                        </p>
                        <p>
                            <b>Start time for deliberation on request:</b> {{ project.requestStartTime |
                            date:'dd/MM/yyyy
                            hh:mma'}}
                        </p>
                        <p>
                            <b>End time for deliberation on request:</b> {{ project.requestEndTime | date:'dd/MM/yyyy
                            hh:mma'}}
                        </p>
                        <div
                            *ngIf="(project.projectStatus!=='Pending'||project.projectStatus!=='RequestDeliberation')&&offers.length>0">
                            <p>
                                <b>End time for deliberation on counter offers:</b> {{ project.offerEndTime |
                                date:'dd/MM/yyyy'}}
                            </p>
                            <p>
                                <b>Passing threshold: </b> {{ project.offerCutoff}} ({{ (project.threshold *
                                100).toFixed(2) }}%)
                            </p>
                        </div>
                        <div
                            *ngIf="!((project.projectStatus==='Pending'||project.projectStatus==='RequestDeliberation')&&offers.length>0)">
                            <p>
                                <b>Passing threshold: </b> {{ project.requestCutoff}} ({{ (project.threshold *
                                100).toFixed(2) }}%)
                            </p>
                        </div>
                        <b>Project Status:</b>
                        <project-status style="margin-left:30px; margin-right:30px"
                            [projectStatus]="project.projectStatus"></project-status>
                        <agreement-status [hasAgreement]="project.hasAgreement"
                            [isActiveAgreement]="isActiveAgreement"></agreement-status>
                        <!-- <div> -->
                        <div *ngIf="project.hasAgreement===true && isActiveAgreement && userType==='THIRDPARTY'">
                            <mat-divider></mat-divider>
                            <h3 class="instructions">Download the data:</h3>
                            <p>You can access the data by logging into a general pod browser such as <a mat-button
                                    href="https://penny.vincenttunru.com/" target="_blank">Penny</a> and search for the
                                following URL:</p>
                            <p>https://storage.inrupt.com/b41a41bc-203e-4b52-9b91-4278868cd036/app/data/Resource.csv</p>
                        </div>
                    </mat-card-content>
                    <!-- ADMIN CHANGE RULES -->
                    <mat-card-content *ngIf="project.projectStatus==='Pending' && userType === 'ADMIN'">
                        <mat-divider></mat-divider>
                        <change-rules [project]="project"></change-rules>
                    </mat-card-content>
                    <!-- ADMIN APPROVAL BUTTON -->
                    <mat-card-content *ngIf="project.projectStatus==='AdminApprovalNeeded' && userType === 'ADMIN'">
                        <h3 class="instructions">Do you approve of this policy?</h3>
                        <button mat-raised-button color="primary" (click)="adminApprove()">Approve</button>
                        <button mat-raised-button color="warn" (click)="adminReject()">Reject</button>
                    </mat-card-content>
                    <!-- THIRD PARTY APPROVAL BUTTON -->
                    <mat-card-content
                        *ngIf="project.projectStatus==='ThirdPartyApprovalNeeded' && user === project.creator">
                        <h3 class="instructions">Do you approve of the counter offer to your request proposed by
                            the
                            members?</h3>
                        <button mat-raised-button color="primary" (click)="thirdPartyApprove()">Approve</button>
                        <button mat-raised-button color="warn" (click)="thirdPartyReject()">Reject</button>
                    </mat-card-content>
                </mat-card>
            </mat-drawer-content>
            <!-- REQUEST TAB -->
            <mat-drawer-content *ngIf="tab === 'request'">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ project.title }}</mat-card-title>
                        <mat-card-subtitle>Request ID: {{request.ID}} </mat-card-subtitle>
                    </mat-card-header>
                    <policy-status [policy]="request"></policy-status>
                    <!-- RESULTS FOR REQUEST -->
                    <mat-card-content
                        *ngIf="projectStatus === 'Closed' || projectStatus === 'OfferDeliberation' || projectStatus === 'AdminApprovalNeeded' || projectStatus === 'ThirdPartyApprovalNeeded'">
                        <h3 class="instructions">Vote Results</h3>
                        <div class="request-results-container">
                            <div class="request-results-item">
                                <p><b>Upvotes:</b> {{ requestUpvotes }}</p>
                            </div>
                            <div class="request-results-item">
                                <p><b>Downvotes:</b> {{ requestDownvotes }}</p>
                            </div>
                        </div>
                    </mat-card-content>
                    <!-- MEMBER VOTING CARD -->
                    <mat-card-content *ngIf="userType==='MEMBER' && projectStatus==='RequestDeliberation'">
                        <h3 class="instructions">Do you approve of this request?</h3>
                        <mat-button-toggle-group class="voting-div">
                            <mat-button-toggle class="upvote-button" mat-icon-button matTooltip="Upvote"
                                (click)="upvote()" [checked]="upvoteState" aria-label="Upvote">
                                <mat-icon>thumb_up</mat-icon>
                            </mat-button-toggle>
                            <span class="gap"></span>
                            <mat-button-toggle class="downvote-button" color="primary" mat-icon-button
                                (click)="downvote()" matTooltip="Downvote" [checked]="downvoteState"
                                aria-label="Downvote">
                                <mat-icon>thumb_down</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-card-content>
                    <!-- SUBMIT OFFER BUTTON -->
                    <mat-card-content
                        *ngIf="userType==='MEMBER' && (project.projectStatus==='RequestDeliberation'||projectStatus==='Pending')">
                        <mat-divider></mat-divider>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" (click)="navigateToSubmitOffer()">Submit
                                Offer</button>
                        </mat-card-actions>
                    </mat-card-content>
                    <!-- REMOVE REQUEST -->
                    <mat-card-content *ngIf="request.creator === user">
                        <mat-card-actions>
                            <mat-card-actions class="button-container">
                                <button mat-raised-button color="warn" (click)="removeProposal(request.URL)">Remove
                                    Request</button>
                            </mat-card-actions>
                        </mat-card-actions>
                    </mat-card-content>
                    <mat-card-content>
                        <mat-divider></mat-divider>
                        <constraints [policy]="request"></constraints>
                    </mat-card-content>
                    <mat-card-content *ngIf="userType!=='THIRDPARTY'">
                        <mat-divider></mat-divider>
                        <h3>Comments</h3>
                        <comments [policyURL]="request.URL"></comments>
                    </mat-card-content>
                </mat-card>
            </mat-drawer-content>
            <!-- OFFERS TAB -->
            <mat-drawer-content *ngIf="tab === 'offer'">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ project.title }}</mat-card-title>
                        <mat-card-subtitle>{{offers.length}} Offers Proposed</mat-card-subtitle>
                    </mat-card-header>
                    <!-- PREFERENCE CARD -->
                    <div *ngIf="project.projectStatus==='OfferDeliberation'">
                        <h3 class="instructions"> Rank the offers: </h3>
                        <app-preference-voting [offerRanking]="this.offerRanking"
                            [projectID]="this.projectID"></app-preference-voting>
                    </div>
                    <!-- RESULTS FOR OFFER -->
                    <mat-card-content
                        *ngIf="projectStatus === 'Closed' || projectStatus === 'AdminApprovalNeeded' || projectStatus === 'ThirdPartyApprovalNeeded'">
                        <div *ngIf="offerResult==='rejection'">
                            <p><b>All proposed offers rejected by members</b></p>
                        </div>
                        <div *ngIf="offerResult!=='rejection'">
                            <p><b>Members have approved a counter offer to the third party request.</b></p>
                            <p><b>Winning offer: </b>{{offerResult}}</p>
                        </div>
                    </mat-card-content>
                    <mat-card-content *ngIf="projectStatus==='RequestDeliberation'||projectStatus==='Pending'">
                        <mat-card-actions>
                            <button mat-button (click)="navigateToSubmitOffer()">Submit Offer</button>
                        </mat-card-actions>
                    </mat-card-content>
                </mat-card>
                <mat-tab-group>
                    <mat-tab *ngFor="let offer of offers" [label]="offer.ID">
                        <mat-card>
                            <policy-status [policy]="offer"></policy-status>
                            <mat-card-content>
                                <p *ngIf="userType!=='THIRDPARTY'">
                                    <b>Proposer:</b> <button mat-button (click)="navigateToProfile(offer.creator)">{{
                                        offer.creator }}</button>
                                </p>
                                <p>
                                    <b>Creation date:</b> {{ offer.policyCreationTime | date:'dd/MM/yyyy
                                    hh:mma'}}
                                </p>
                                <mat-divider></mat-divider>
                                <constraints [policy]="offer"></constraints>
                                <!-- REMOVE OFFER -->
                                <mat-card-content *ngIf="offer.creator === user">
                                    <mat-card-actions>
                                        <mat-card-actions class="button-container">
                                            <button mat-raised-button color="warn"
                                                (click)="removeProposal(offer.URL)">Remove
                                                OFFER</button>
                                        </mat-card-actions>
                                    </mat-card-actions>
                                </mat-card-content>
                                <mat-card-content *ngIf="userType!=='THIRDPARTY'">
                                    <mat-divider></mat-divider>
                                    <h2>Comments</h2>
                                    <comments [policyURL]="offer.URL"></comments>
                                </mat-card-content>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
            </mat-drawer-content>
            <!-- AGREEMENT TAB -->
            <mat-drawer-content *ngIf="tab === 'agreement'">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ agreement.title }}</mat-card-title>
                        <mat-card-subtitle>Agreement</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            <b>Project description:</b> {{ agreement.description }}
                        </p>
                        <p>
                            <b>Approved By Admin:</b> <button mat-button
                                (click)="navigateToProfile(agreement.creator)">{{
                                agreement.creator }}</button>
                        </p>
                        <p>
                            <b>Date in effect:</b> {{ agreement.policyCreationTime | date:'dd/MM/yyyy
                            hh:mma'}}
                        </p>
                        <mat-divider></mat-divider>
                        <constraints [policy]="agreement"></constraints>
                    </mat-card-content>
                    <!-- REMOVE AGREEMENT BUTTON -->
                    <mat-card-content *ngIf="project.projectStatus==='Closed' && userType==='ADMIN'">
                        <mat-card-actions>
                            <mat-card-actions class="button-container">
                                <button mat-raised-button (click)="removeAgreement()" color="warn">Remove
                                    Agreement</button>
                            </mat-card-actions>
                        </mat-card-actions>
                    </mat-card-content>
                    <mat-card-content *ngIf="userType!=='THIRDPARTY'">
                        <mat-divider></mat-divider>
                        <h3>Comments</h3>
                        <comments [policyURL]="agreement.URL"></comments>
                    </mat-card-content>
                </mat-card>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>