<div class="content">
    <div class="card-container">
        <div *ngIf="currentUserType==='THIRDPARTY'">
            <h3>You are not permitted to view this page.</h3>
        </div>
        <mat-card *ngIf="currentUserType!=='THIRDPARTY'">
            <mat-card-header>
                <mat-card-title>Member Profile</mat-card-title>
                <mat-card-subtitle>WebID: {{ webID }}</mat-card-subtitle>
                <mat-card-subtitle>Joined on: {{ issued | date:'dd/MM/yyyy' }}</mat-card-subtitle>
            </mat-card-header>
            <div *ngIf="webID!==user">
                <mat-card-content>
                    <p><b>Name:</b> {{name}}</p>
                    <p><b>Email:</b> {{email}}</p>
                </mat-card-content>
            </div>
            <div *ngIf="webID===user">
                <mat-card-content>
                    <form>
                        <div class="form-field-container">
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput [(ngModel)]="name" name="name" required>
                            </mat-form-field>
                        </div>
                        <div class="form-field-container">
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput [(ngModel)]="email" name="email" required>
                            </mat-form-field>
                        </div>
                        <div class="form-field-container">
                            <mat-form-field>
                                <mat-label>Data Source</mat-label>
                                <input matInput [(ngModel)]="dataSource" name="dataSource" required>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-card-content>

                <mat-card-actions class="button-container">
                    <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
                    <button mat-raised-button (click)="cancelChanges()">Cancel</button>
                </mat-card-actions>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <b>If you no longer want to be apart of the Data Consensus group, you can click the button below and
                        we
                        will delete your data.</b>
                </mat-card-content>
                <mat-card-actions class="button-container">
                    <button mat-raised-button (click)="deleteUser()" color="warn">Delete User Data</button>
                </mat-card-actions>
            </div>
        </mat-card>
    </div>
</div>