.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    justify-content: center;
}

.form-field-container {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}


mat-form-field {
    width: 100%;
}

mat-card {
    display: flex;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 100px;
}

mat-divider {
    margin: 30px;
}