<div *ngFor="let comment of comments" class="comment">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{comment.content}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{comment.author}}</p>
            <p>{{comment.timeCreated}}</p>
        </mat-card-content>
        <mat-card-actions *ngIf="comment.author === user || isAdmin">
            <button mat-button *ngIf="isAdmin" (click)="moderateComment(comment)">Moderate</button>
            <!-- [disabled]="comment.moderated === 'true'" -->
            <button mat-button *ngIf="comment.author === user" (click)="deleteComment(comment)">Delete</button>
        </mat-card-actions>

    </mat-card>
</div>

<mat-card>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Write your comment</mat-label>
            <textarea matInput type="text" [(ngModel)]="newComment" required></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="addComment()">Add Comment</button>
    </mat-card-actions>
</mat-card>