.content {
    height: 75vh;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

mat-card {
    display: flex;
    width: 800px;
}

mat-card-header {
    margin-bottom: 20px;
    display: flex;
}

mat-card-actions {
    display: flex;
    justify-content: center;
}