<!-- your-component.component.html -->
<mat-grid-list cols="1" rowHeight="5em">
    <mat-grid-tile rowspan="1">
        <h1>Data Consensus</h1>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
        <h2>A Collaborative Data Governance Platform</h2>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
        <h3>Actions:</h3>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
        <mat-button-toggle-group>
            <mat-button-toggle mat-raised-button color="primary" (click)="login()">Login</mat-button-toggle>
            <mat-button-toggle mat-raised-button color="primary" (click)="signUp()">Sign Up</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" *ngIf="isSigningUp">
        <h3>Choose User Type:</h3>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" *ngIf="isSigningUp">
        <mat-button-toggle-group>
            <mat-button-toggle (click)="redirectToMemberSignUp()">Member</mat-button-toggle>
            <mat-button-toggle (click)="redirectToThirdPartySignUp()">Third Party</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" *ngIf="isLoggingIn">
        <mat-form-field [style.width.px]=327>
            <mat-label>Solid Input Provider</mat-label>
            <input matInput type="text" [(ngModel)]="loginInput">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="confirmLogin()">Confirm</button>
    </mat-grid-tile>
</mat-grid-list>